manifest {
    name            = 'SVModeller'
    author          = 'Ismael Vera-Munoz, Luca Cozzuto'
    description     = 'Simulation of synthetic human haplotypes containing embedded structural variants'
    version         = '0.5.0'
    nextflowVersion = '!>=22.10.0'
    mainScript      = 'main.nf'
}

plugins {
    id 'nf-slack@0.5.0'
}

notification {
    enabled = params.slack_url || params.SLACK_URL || System.getenv('SLACK_URL') ? true : false
    to      = params.slack_url ?: params.SLACK_URL ?: System.getenv('SLACK_URL')
}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}

params {
    // Inputs
    vcf_insertions          = null
    vcf_deletions           = null
    chr_length              = null
    ref_fasta               = null
    consensus               = null
    number_events           = null
    source_l1               = null
    source_sva              = null
    motifs                  = null
    sva_vntr                = null

    // Options
    num_events              = 10
    bin_size                = 1000000

    // Boilerplate options
    outdir                  = 'results'
    publish_dir_mode        = 'copy'
    monochrome_logs         = false
    slack_url               = null
    SLACK_URL               = null
}

profiles {
    crg {
        includeConfig 'conf/modules.config'
        includeConfig 'conf/crg.config'
    }
    newcrg {
        includeConfig 'conf/modules.config'
        includeConfig 'conf/crg.config'
    }
    applecontainer {
        includeConfig 'conf/modules.config'
        includeConfig 'conf/applecontainer.config'
    }
    apple {
        includeConfig 'conf/modules.config'
        includeConfig 'conf/applecontainer.config'
    }
    standard {
        includeConfig 'conf/base.config'
        includeConfig 'conf/modules.config'
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        includeConfig 'conf/base.config'
        includeConfig 'conf/modules.config'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        includeConfig 'conf/base.config'
        includeConfig 'conf/modules.config'
    }
    test {
        includeConfig 'conf/base.config'
        includeConfig 'conf/modules.config'

        params.vcf_insertions = "test_data/VCF_Insertions.vcf"
        params.vcf_deletions  = "test_data/VCF_Deletions.vcf"
        params.chr_length     = "test_data/chr_length.txt"
        params.ref_fasta      = "test_data/toy_ref.fa"
        params.consensus      = "test_data/consensus_sequences_complete.fa"
        params.number_events  = "test_data/Number_events.tsv"
        params.source_l1      = "test_data/source_loci_LINE1.tsv"
        params.source_sva     = "test_data/source_loci_SVA.tsv"
        params.motifs         = "test_data/VNTR_with_start_position.txt"
        params.sva_vntr       = "test_data/SVA_VNTR_Motifs.txt"
        params.num_events     = 10
        params.bin_size       = 1000000
    }
}
