manifest {
    name            = 'SVModeller'
    author          = 'Ismael Vera-Munoz, Luca Cozzuto'
    description     = 'Simulation of synthetic human haplotypes containing embedded structural variants'
    version         = '0.5.0'
    nextflowVersion = '!>=22.10.0'
    mainScript      = 'main.nf'
}

params {
    // Inputs
    vcf_insertions          = null
    vcf_deletions           = null
    chr_length              = null
    ref_fasta               = null
    consensus               = null
    number_events           = null
    source_l1               = null
    source_sva              = null
    motifs                  = null
    sva_vntr                = null
    
    // Options
    num_events              = 10
    bin_size                = 1000000

    // Boilerplate options
    outdir                  = 'results'
    publish_dir_mode        = 'copy'

    // Max resource limits
    max_memory              = '128.GB'
    max_cpus                = 16
    max_time                = '24.h'
}

profiles {
    standard {
        includeConfig 'conf/base.config'
        includeConfig 'conf/modules.config'
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        includeConfig 'conf/base.config'
        includeConfig 'conf/modules.config'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        includeConfig 'conf/base.config'
        includeConfig 'conf/modules.config'
    }
    test {
        includeConfig 'conf/base.config'
        includeConfig 'conf/modules.config'
        
        params.vcf_insertions = "toy_data/VCF_Insertions.vcf"
        params.vcf_deletions  = "toy_data/VCF_Deletions.vcf"
        params.chr_length     = "toy_data/chr_length.txt"
        params.ref_fasta      = "toy_data/toy_ref.fa"
        params.consensus      = "toy_data/consensus_sequences_complete.fa"
        params.number_events  = "toy_data/Number_events.tsv"
        params.source_l1      = "toy_data/source_loci_LINE1.tsv"
        params.source_sva     = "toy_data/source_loci_SVA.tsv"
        params.motifs         = "toy_data/VNTR_with_start_position.txt"
        params.sva_vntr       = "toy_data/SVA_VNTR_Motifs.txt"
        params.num_events     = 10
        params.bin_size       = 1000000
    }
}

// Function to check max resources
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            return obj
        }
    }
}
