process {
    shell     = ['/bin/bash', '-euo', 'pipefail']
    executor  = "local"
    cpus      = 1
    memory    = '6GB'
    time      = '3h'

    withLabel: process_single {
        errorStrategy = 'retry'
        cpus          = 1
        time          = { 3.h * task.attempt }
        memory        = { 4.GB * task.attempt }
        maxRetries    = 2
    }

    withLabel: process_medium {
        errorStrategy = 'retry'
        cpus          = 2
        time          = { 6.h * task.attempt }
        memory        = { 7.GB * task.attempt }
        maxRetries    = 2
    }

    withLabel: process_high {
        errorStrategy = 'retry'
        cpus          = 4
        time          = { 12.h * task.attempt }
        memory        = { 7.GB * task.attempt }
        maxRetries    = 2
    }
}

appleContainer {
    enabled    = true
    runOptions = '--rosetta --platform linux/amd64'
}
