process {
    shell      = ['/bin/bash', '-euo', 'pipefail']
    executor   = "slurm"
    cpus       = 1
    memory     = { 12.GB * task.attempt }
    queue      = 'genoa64'
    cache      = 'lenient'
    time       = { 3.h * task.attempt }
    maxRetries = 2

    withLabel: process_single {
        errorStrategy = 'retry'
        cpus          = 1
        time          = { 3.h * task.attempt }
        memory        = { 12.GB * task.attempt }
        maxRetries    = 2
    }

    withLabel: process_low {
        errorStrategy = 'retry'
        cpus          = 1
        time          = { 3.h * task.attempt }
        memory        = { 12.GB * task.attempt }
        maxRetries    = 2
    }

    withLabel: process_medium {
        errorStrategy = 'retry'
        cpus          = 2
        time          = { 6.h * task.attempt }
        memory        = { 16.GB * task.attempt }
        maxRetries    = 2
    }

    withLabel: process_high {
        errorStrategy = 'retry'
        cpus          = 8
        time          = { 12.h * task.attempt }
        memory        = { 64.GB * task.attempt }
        maxRetries    = 2
    }
}

tower {
    endpoint = 'https://seqera-platform.hpc.crg.es/api'
}

singularity {
    enabled    = true
    autoMounts = true
}
