process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename == 'versions.yml' ? null : filename }
    ]

    withName: SVMODELLER_MODULE1 {
        publishDir = [
            path: { "${params.outdir}/module1" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: SVMODELLER_MODULE2 {
        publishDir = [
            path: { "${params.outdir}/module2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: SVMODELLER_MODULE3 {
        publishDir = [
            path: { "${params.outdir}/module3" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: SVMODELLER_MODULE4 {
        publishDir = [
            path: { "${params.outdir}/module4" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }
}
